---
layout: raw.template.njk
title: Eleventy with Vite
---

{% set data = optimized %}

{% for talk in data.talks | dictsort %}
## {{ talk[1].title }}

- **Description:** {{ talk[1].description }}
- **Speakers:** {% for speaker in talk[1].speakers %}{{ speaker.name }}{% if not loop.last %}, {% endif %}{% endfor %}
- **Stage:** {{ talk[1].stage }}
- **Tags:** {% for tag in talk[1].tags %}{{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}
- **Time:** {{ talk[1].startTime }} – {{ talk[1].endTime }}

{% endfor %}
