
@import './components/_fonts.css';
@import './../../components/molecules/search/search.molecule.css';
@import './../../components/molecules/chip/chip.molecule.css';
@import './components/_levels.css';

.hidden {
    display: none;
}

body{
    background-color: #202125;
    color: white;
    font-family:monospace;
}

.list--no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.talk-card {
  transition: all 0.2s ease;
}
.talk-card.hidden {
  display: none !important;
}

.teaser-image{
  max-height: 200px; width: 100%; object-fit: cover; overflow: hidden;
}


  body.compact-view div.standard-view{ display: none; }
  body.standard-view div.compact-view{ display: none; }


  /* [data-view] {
    background-color: #f8510f;
    color: white;
  }
  [data-view].active-view {
    background-color: #0F766E;
    color: white;
  } */
   .filter-btn {
     cursor: pointer;
     padding: 0.25rem 0.5rem;
     border-radius: 0.375rem;
     margin-right: 0.5rem;
     margin-bottom: 0.5rem;
     display: inline-block;
     transition: background-color 0.2s ease, color 0.2s ease;
    }
    .filter-btn.filter-btn--active{
    background-color: gray;
  }



.talk-card .talk-states [data-status-item]{
  display: none;
}
.talk-card[data-talk-status="live"] .talk-states [data-status-item="live"]{
  display: inline;
}
.talk-card[data-talk-status="done"]{
  background-color: white;
} 
.talk-card[data-talk-status="done"] [data-filter="register"] a{
  display: none;
}
body.standard-view .talk-card[data-talk-status="done"]{
  opacity: 0.7;
}
body.compact-view .talk-card[data-talk-status="done"] td {
  opacity: 0.3;

}
.talk-card[data-talk-status="done"] .talk-states [data-status-item="done"]{
  display: inline;
}

  /* .talk-states span{
    display: hidden
  }
  .talk-states[data-talk-status="live"] span[data-status-item="live"],
  .talk-states[data-talk-status="done"] span[data-status-item="done"],
  .talk-states[data-talk-status="upcoming"] span[data-status-item="upcoming"]{
    display: inline;
  } */

  .blinking-emoji {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50%      { opacity: 0; }
}
