
@import './components/_fonts.css';
@import './../../components/molecules/search/search.molecule.css';
@import './../../components/molecules/chip/chip.molecule.css';
@import './components/_levels.css';

.hidden {
    display: none;
}

body{
    background-color: #202125;
    color: white;
    font-family:monospace;
}

.list--no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.talk-card {
  transition: all 0.2s ease;
}
.talk-card.hidden {
  display: none !important;
}

.teaser-image{
  max-height: 200px; width: 100%; object-fit: cover; overflow: hidden;
}